body {
  font-family: "Roboto", arial;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.8;
  color: #999999;
}

a {
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Playfair Display", serif  ;
  line-height: 1.2;
  margin-bottom: 0;
  margin-top: 0;
  font-weight: 700; }

.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  margin-bottom: 0;
  margin-top: 0;
  font-family: "Playfair Display", serif;
  font-weight: normal;
}

.header-area {
  position: relative;
  background-color: #000;
  width: 100%;
  z-index: 999999;
  -webkit-transition: all 0.4s ease 0s;
  -moz-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s; }
  @media (max-width: 991px) {
    .header-area {
      position: absolute;
      box-shadow: -21.213px 21.213px 30px 0px rgba(158, 158, 158, 0.3); } }
  .header-area .navbar {
    padding: 0; }
    @media (max-width: 991px) {
      .header-area .navbar {
        padding: 20px 0;
        max-width: 100px;
        margin-left: auto; } }
    .header-area .navbar .dropdown-item {
      width: auto !important;
      text-align: left;
      font-size: 14px; }
      @media (max-width: 991px) {
        .header-area .navbar .dropdown-item {
          text-align: right;
          padding: 0.25rem; } }
      .header-area .navbar .dropdown-item:hover {
        color: #ba9236; }

.header-fixed {
  position: fixed;
  left: 0;
  top: 0;
  box-shadow: -21.213px 21.213px 30px 0px rgba(158, 158, 158, 0.3); }

@media (min-width: 992px) {
  .dropdown .dropdown-menu {
    display: block;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 200ms ease-in;
    -moz-transition: all 200ms ease-in;
    -ms-transition: all 200ms ease-in;
    -o-transition: all 200ms ease-in;
    transition: all 200ms ease-in;
     background-color: #000; }

  .dropdown:hover .dropdown-menu {
    display: block;
    opacity: 1;
    visibility: visible; } }
.dropdown-item:focus,
.dropdown-item:hover {
  color: #16181b;
  text-decoration: none;
  background-color: transparent; }

.menu-left {
  text-align: center; }
  .menu-left a {
    margin-right: 22px;
    color: #fff;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 500; }
    @media (max-width: 991px) {
      .menu-left a {
        margin-right: 7px; } }
    .menu-left a:hover, .menu-left a.active {
      color: #ba9236; }
    .menu-left a:last-child {
      margin-right: 0; }
  @media (max-width: 991px) {
    .menu-left {
      display: none; } }

.menu-right .nav-item .nav-link {
  margin-right: 24px;
  color: #fff;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 500;
  padding: 37px 0px; }
  .menu-right .nav-item .nav-link:hover, .menu-right .nav-item .nav-link.active {
    color: #ba9236; }
  @media (max-width: 1199px) {
    .menu-right .nav-item .nav-link {
      margin-right: 16px; } }
  @media (max-width: 991px) {
    .menu-right .nav-item .nav-link {
      padding: 10px 0;
      margin-right: 7px;
      letter-spacing: normal; } }
.menu-right .nav-item .dropdown-menu {
  border-radius: 0;
  margin-top: 0px;
  border: none; }
  @media (max-width: 991px) {
    .menu-right .nav-item .dropdown-menu {
      margin-top: 0px;
      background-color: #000; } }
  .menu-right .nav-item .dropdown-menu a {
    display: block;
    margin-bottom: 10px;
    text-transform: capitalize;GO
    color: #fff;
    background-color: #000;
     }

@media (max-width: 1280px) and (min-width: 799px) {
  .menu-right {
    font-size: 11px; } }
@media (max-width: 800px) {
  .menu-right {
    font-size: 14px; } }
@media (max-width: 991px) {
  .menu-right {
    text-align: right; } }
.menu-right .hide-lg {
  display: none; }
  @media (max-width: 991px) {
    .menu-right .hide-lg {
      display: block; } }

.default-header {
  background-color: #fff;
  padding: 20px 0;
  width: 100% !important;
  box-shadow: -21.213px 21.213px 30px 0px rgba(158, 158, 158, 0.3); }

.sticky-wrapper {
  height: 48px !important; }

.container.fullwidth {
  width: 100%; }
.container.no-padding {
  padding-left: 0;
  padding-right: 0; }

.logo {
  text-align: center;
  padding: 15px 0;
  margin-right: 35px; }
  .logo img {
    width: 50%; }
    @media (max-width: 991px) {
      .logo img {
        width: 42%; } }
    @media (max-width: 680px) {
      .logo img {
        width: 75%; } }
    @media (max-width: 420px) {
      .logo img {
        width: 100%; } }
  @media (max-width: 991px) {
    .logo {
      position: absolute;
      top: 9px;
      padding: 0;
      text-align: left; } }
  @media (max-width: 420px) {
    .logo {
      top: 12px; } }

.site-hero {
  background-size: cover;
  background-position: center center;
  min-height: 750px;
  height: 100vh;
}

.site-hero > .container {
  position: relative;
  z-index: 2;
}

.site-hero.overlay {
  position: relative;
}

.site-hero.overlay:before {
  content: "";
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.site-hero.overlay h1 {
  font-size: 70px;
}

.site-hero.overlay h1, .site-hero.overlay p {
  color: #fff;
}

.site-hero .site-hero-inner {
  min-height: 750px;
  height: 100vh;
}

.site-hero-innerpage, .site-hero-innerpage .site-hero-inner {
  min-height: 550px;
  height: 50vh;
}

.site-section {
  padding: 17em 0;
  color: #fff;
}

.quick-info {
  position: relative;
  margin-top: -100px;
  z-index: 9;
  background-color: #000;
}

.quick-info .bgcolor {
  background: #000;
  position: relative;
  padding: 50px 0 30px 0;
}

.quick-info .bgcolor:before {
  position: absolute;
  left: -100%;
  top: 0;
  content: "";
  height: 100%;
  width: 120%;
  background: #000;
}

.quick-info .media .icon-wrap {
  line-height: 0;
  top: 0;
}

.quick-info .media .icon-wrap span {
  font-size: 30px;
  color: #fff;
}

.quick-info .media .media-body h5 {
  font-weight: 400;
  font-size: 16px;
  color: #fff;
  margin-bottom: 10px;
  padding: 0;
}

.quick-info .media .media-body p {
  font-size: 15px;
}

.quick-info .media .media-body p:last-child {
  margin-bottom: 0;
}
@media(max-width:750px ) {
.insta{
  margin-left: 20%
}
.youtu{
  margin-left: 50%;
  margin-top: -115px;
}  
.vk{
  margin-left: 35%;
}  
}

.img-bg {
  background-size: cover;
}

@media (max-width: 991.98px) {
  .img-md-fluid {
    max-width: 100%;
    margin-left: 50px;
  }
}
 .img-md5-fluid {
    max-width: 100%;
  }
.price{
  margin-top: 2%;
  width: 70%;
  height:220px;
  display: inline-block;
  margin-left:500px; 
  } 

}
.golova{
  margin-top: 2%;
  display: inline-block;
  width: 35%;
  height:380px;
}

.boroda{
  margin-top: 1%;
  display: inline-block;
  width: 35%;
  height: 380px;
}

.liso{
  display: inline-block;
  width: 70%;
  height: 380px;
  margin-left: 320px;
}

@media (max-width: 991.98px) {
.bkg{
  max-width: 100%;
}
.pra {
height: 80px;
margin-left: -450px;
margin-top: 200px;
width: 200px
}  
.golov{
  margin-top: 150px;
  height: 250px;
  width: 300px;
  margin-left: 70px;

}
.borod{
  margin-top: 50px;
    height: 250px;
  width: 300px;
  margin-left: 20px;

}
.lis{
  margin-top: -50px;
  height: 250px;
  width: 300px;
  margin-left: -220px;
 


}
}
.feature-destination, .slider-wrap {
  position: relative;
  z-index: 10;
  margin-top: -50px;
  margin-bottom: 50px;
}

.feature-destination .img-bg, .slider-wrap .img-bg {
  margin-bottom: 30px;
  display: block;
  height: 300px;
  position: relative;
  top: 0;
  -webkit-transition: .2s all ease;
  -o-transition: .2s all ease;
  transition: .2s all ease;
}

.feature-destination .img-bg .custom-icon:before, .slider-wrap .img-bg .custom-icon:before {
  font-size: 34px;
  color: #fff;
}

.feature-destination .img-bg:before, .slider-wrap .img-bg:before {
  content: "";
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: #000;
  opacity: .1;
  position: absolute;
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
}

.feature-destination .img-bg .text, .slider-wrap .img-bg .text {
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  width: 80%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.feature-destination .img-bg .text .icon, .slider-wrap .img-bg .text .icon {
  color: #fff;
  font-size: 30px;
  position: relative;
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
  top: 0;
}

.feature-destination .img-bg .text h2, .slider-wrap .img-bg .text h2 {
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-weight: 400;
  color: #fff;
  top: 0px;
  position: relative;
}

.feature-destination .img-bg .text p, .slider-wrap .img-bg .text p {
  color: #fff;
  opacity: 0;
  top: 10px;
  visibility: hidden;
  font-size: 13px;
  position: relative;
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
}

.feature-destination .img-bg:hover, .feature-destination .img-bg:focus, .slider-wrap .img-bg:hover, .slider-wrap .img-bg:focus {
  top: -10px;
  -webkit-box-shadow: 2px 0 20px 0 rgba(0, 0, 0, 0.4);
  box-shadow: 2px 0 20px 0 rgba(0, 0, 0, 0.4);
}

.feature-destination .img-bg:hover .text .icon, .feature-destination .img-bg:focus .text .icon, .slider-wrap .img-bg:hover .text .icon, .slider-wrap .img-bg:focus .text .icon {
  top: -10px;
}

.feature-destination .img-bg:hover .text h2, .feature-destination .img-bg:focus .text h2, .slider-wrap .img-bg:hover .text h2, .slider-wrap .img-bg:focus .text h2 {
  top: -10px;
}

.feature-destination .img-bg:hover .text p, .feature-destination .img-bg:focus .text p, .slider-wrap .img-bg:hover .text p, .slider-wrap .img-bg:focus .text p {
  top: 0;
  opacity: .5;
  visibility: visible;
}

.feature-destination .img-bg:hover:before, .feature-destination .img-bg:focus:before, .slider-wrap .img-bg:hover:before, .slider-wrap .img-bg:focus:before {
  opacity: .4;
}

.btn {
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
  padding: 12px 30px;
}

.btn.btn-black {
  background: #000;
  color: #fff;
}

.btn.btn-primary {
  color: #fff;
  border-width: 2px;
}

.btn.btn-primary:hover, .btn.btn-primary:active, .btn.btn-primary:focus {
  border-color: #ff8f57;
  background: #ff8f57;
}

.btn.btn-sm {
  font-size: 12px;
}

.btn.btn-outline-primary {
  border-width: 2px;
  color: #ff6d24;
}

.btn.btn-outline-primary:hover, .btn.btn-outline-primary:focus, .btn.btn-outline-primary:active {
  color: #fff;
}

.btn.btn-outline-white {
  border-width: 2px;
  border-color: #fff;
  color: #fff;
}

.btn.btn-outline-white:hover, .btn.btn-outline-white:focus {
  background: #fff;
  color: #000;
  border-width: 2px;
}

.btn:hover {
  -webkit-box-shadow: 0 3px 10px -2px rgba(0, 0, 0, 0.2) !important;
  box-shadow: 0 3px 10px -2px rgba(0, 0, 0, 0.2) !important;
}

.custom-icon:before, .custom-icon:after {
  font-size: 50px;
  color: #ff6d24;
  margin-left: 0;
}

.no-nav .owl-nav {
  display: none;
}

.owl-carousel .owl-item {
  opacity: .4;
}

.owl-carousel .owl-item.active {
  opacity: 1;
}

.owl-carousel .owl-nav {
  position: absolute;
  top: 50%;
  width: 100%;
}

.owl-carousel .owl-nav .owl-prev,
.owl-carousel .owl-nav .owl-next {
  position: absolute;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  margin-top: -10px;
}

.owl-carousel .owl-nav .owl-prev:hover, .owl-carousel .owl-nav .owl-prev:focus, .owl-carousel .owl-nav .owl-prev:active,
.owl-carousel .owl-nav .owl-next:hover,
.owl-carousel .owl-nav .owl-next:focus,
.owl-carousel .owl-nav .owl-next:active {
  outline: none;
}

.owl-carousel .owl-nav .owl-prev span:before,
.owl-carousel .owl-nav .owl-next span:before {
  font-size: 40px;
}

.owl-carousel .owl-nav .owl-prev {
  left: 30px !important;
}

.owl-carousel .owl-nav .owl-next {
  right: 30px !important;
}

.owl-carousel .owl-dots {
  text-align: center;
}

.owl-carousel .owl-dots .owl-dot {
  width: 10px;
  height: 10px;
  margin: 5px;
  border-radius: 50%;
  background: #e6e6e6;
}

.owl-carousel .owl-dots .owl-dot.active {
  background: #ff6d24;
}

.owl-carousel.home-slider {
  z-index: 1;
  position: relative;
}

.owl-carousel.home-slider .owl-nav {
  opacity: 0;
  visibility: hidden;
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
}

.owl-carousel.home-slider .owl-nav button {
  color: #fff;
}

.owl-carousel.home-slider:focus .owl-nav, .owl-carousel.home-slider:hover .owl-nav {
  opacity: 1;
  visibility: visible;
}

.owl-carousel.home-slider .slider-item {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: calc(100vh - 117px);
  min-height: 700px;
  position: relative;
}

.owl-carousel.home-slider .slider-item:before {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.2);
  content: "";
}

.owl-carousel.home-slider .slider-item .slider-text {
  color: #fff;
  height: calc(100vh - 117px);
  min-height: 700px;
}

.owl-carousel.home-slider .slider-item .slider-text .child-name {
  font-size: 40px;
  color: #fff;
}

.owl-carousel.home-slider .slider-item .slider-text h1 {
  font-size: 40px;
  color: #fff;
  line-height: 1.2;
  font-weight: 800 !important;
  text-transform: uppercase;
}

@media (max-width: 991.98px) {
  .owl-carousel{
    margin-top: 50px;
  }
  .owl-carousel.home-slider .slider-item .slider-text h1 {
    font-size: 40px;

  }
}

.owl-carousel.home-slider .slider-item .slider-text p {
  font-size: 20px;
  line-height: 1.5;
  font-weight: 300;
  color: white;
}

.owl-carousel.home-slider .slider-item.dark .child-name {
  color: #000;
}

.owl-carousel.home-slider .slider-item.dark h1 {
  color: #000;
}

.owl-carousel.home-slider .slider-item.dark p {
  color: #000;
}

.owl-carousel.home-slider.inner-page .slider-item {
  height: calc(50vh - 117px);
  min-height: 350px;
}

.owl-carousel.home-slider.inner-page .slider-item .slider-text {
  color: #fff;
  height: calc(50vh - 117px);
  min-height: 350px;
}

.owl-carousel.home-slider .owl-dots {
  position: absolute;
  bottom: 100px;
  width: 100%;
}

.owl-carousel.home-slider .owl-dots .owl-dot {
  width: 10px;
  height: 10px;
  margin: 5px;
  border-radius: 50%;
  border: 2px solid rgba(255, 255, 255, 0.5);
  outline: none !important;
  position: relative;
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
}

.owl-carousel.home-slider .owl-dots .owl-dot.active {
  border: 2px solid white;
}

.owl-carousel.home-slider .owl-dots .owl-dot.active span {
  background: white;
}

.owl-carousel.major-caousel .owl-stage-outer {
  padding-top: 30px;
  padding-bottom: 30px;
}

.owl-carousel.major-caousel .owl-nav .owl-prev, .owl-carousel.major-caousel .owl-nav .owl-next {
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
  color: #495057;
}

.owl-carousel.major-caousel .owl-nav .owl-prev:hover, .owl-carousel.major-caousel .owl-nav .owl-prev:focus, .owl-carousel.major-caousel .owl-nav .owl-next:hover, .owl-carousel.major-caousel .owl-nav .owl-next:focus {
  color: #6c757d;
  outline: none;
}

.owl-carousel.major-caousel .owl-nav .owl-prev.disabled, .owl-carousel.major-caousel .owl-nav .owl-next.disabled {
  color: #dee2e6;
}

.owl-carousel.major-caousel .owl-nav .owl-prev {
  left: -60px !important;
}

.owl-carousel.major-caousel .owl-nav .owl-next {
  right: -60px !important;
}

.owl-carousel.major-caousel .owl-dots {
  bottom: -30px !important;
  position: relative;
}

.owl-custom-nav {
  float: right;
  position: relative;
  z-index: 10;
}

.owl-custom-nav .owl-custom-prev,
.owl-custom-nav .owl-custom-next {
  padding: 10px;
  font-size: 30px;
  background: #ccc;
  line-height: 0;
  width: 60px;
  text-align: center;
  display: inline-block;
}

.slider-tex {
  color: #fff;
  height: 750px;
  position: relative; }
  @media (max-width: 767.98px) {
    .slider-tex {
      text-align: center; } }
  .slider-tex .icon {
    position: absolute;
    top: 50%;
    right: 30px;
    width: 70px;
    height: 70px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    bordeR: 1px solid rgba(255, 255, 255, 0.7);
    -webkit-animation: pulse 2s infinite;
    animation: pulse 2s infinite;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%; }
    @media (max-width: 767.98px) {
      .slider-tex .icon {
        top: 72%;
        right: 0;
        left: 0;
        margin: 0 auto; } }
    .slider-tex .icon span {
      color: white;
      font-size: 20px; }
  .slider-tex h1 {
    font-size: 50px;
    color: #fff;
    line-height: 1.2;
    font-weight: 400; }
    @media (max-width: 991.98px) {
      .slider-tex h1 {
        font-size: 40px; } }
  .slider-tex p {
    font-size: 20px;
    line-height: 1.5;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.8); }
    .slider-tex p a {
      color: #fff;
      border-bottom: 2px solid rgba(255, 255, 255, 0.3); }
      .slider-tex p a span {
        color: #fff; }
  .slider-tex .breadcrumbs {
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 1px;
    margin-bottom: 20px;
    z-index: 99; }
    .slider-tex .breadcrumbs span {
      border-bottom: 2px solid rgba(255, 255, 255, 0.1);
      color: rgba(255, 255, 255, 0.7); }
      .slider-tex .breadcrumbs span a {
        color: #fff; }
  .slider-tex .bread {
    font-weight: 400 !important; }
  .slider-tex .btn-outline-white {
    border: 1px solid rgba(255, 255, 255, 0.4) !important; }
    .slider-tex .btn-outline-white span {
      color: #fff; }
    .slider-tex .btn-outline-white:hover span {
      color: #ce9c6b; }



.justify-content-start {
  -webkit-box-pack: start !important;
  -ms-flex-pack: start !important;
  justify-content: flex-start !important; }


.no-gutters {
  margin-right: 0;
  margin-left: 0; }
  .no-gutters > .col,
  .no-gutters > [class*="col-"] {
    padding-right: 0;
    padding-left: 0; }

.d-flex {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important; }

.justify-content-center {
  -webkit-box-pack: center !important;
  -ms-flex-pack: center !important;
  justify-content: center !important; }

  .align-items-center {
  -webkit-box-align: center !important;
  -ms-flex-align: center !important;
  align-items: center !important; }

  #map {
  width: 100%; }
  @media (max-width: 767.98px) {
    #map {
      height: 300px;
      margin-bottom: 30px; } }

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.2); }
  70% {
    -webkit-box-shadow: 0 0 0 30px rgba(255, 255, 255, 0); }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0); } }

@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.2);
    -webkit-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.2);
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.2); }
  70% {
    -moz-box-shadow: 0 0 0 30px rgba(255, 255, 255, 0);
    -webkit-box-shadow: 0 0 0 30px rgba(255, 255, 255, 0);
    box-shadow: 0 0 0 30px rgba(255, 255, 255, 0); }
  100% {
    -moz-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
    -webkit-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0); } }

